<h1>Bienvenido a su cuentas {{nombre}}</h1>

<div class="container">
   
    <div class="item">
        <h2>Número de cuenta: 11223344</h2>
        <h3>Descripción: Esta en una cuenta demostrativa</h3>
        <h3>Moneda: Dólares </h3>
        <h3>Cédula del dueño: 118190303</h3>
        <h3>Tipo de cuenta: Ahorros</h3>
        <h3>Saldo en la cuenta: 420000 </h3>
    </div>

    <div class="item">
        <h2>Número de cuenta: 909042069</h2>
        <h3>Descripción: Esta en una cuenta demostrativa</h3>
        <h3>Moneda: Colones </h3>
        <h3>Cédula del dueño: 118190303</h3>
        <h3>Tipo de cuenta: Corriente </h3>
        <h3>Saldo en la cuenta: 760000 </h3>
    </div>

        <app-button 
            style="float: center;"
            color="{{ movs? '#DEE2D6' : '#FCB07E'}}"
            text="{{ movs? 'Cerrar' : 'Ver movimientos de cuenta'}}"
            (btnClick)="show_movs()" 
            >
        </app-button>

        
        <app-button 
            style="float: center;"
            color="{{ trans? '#DEE2D6' : '#FCB07E'}}"
            text="{{ trans? 'Cancelar tranferencia' : 'Realizar tranferencia'}}" 
            (btnClick)="show_trans()"
        >
        </app-button>

        <form  *ngIf="trans" class="login" (ngSubmit)="show_trans()">
            <div class="form-control">
                <input
                    type="text"
                    placeholder="Cuenta a la que transfiere"
                >
            </div>
            <div class="form-control">
                <input
                    type="text"
                    placeholder="Cuenta de la que transfiere"
                >
            </div>
            <div class="form-control">
                <input
                    type="number"
                    placeholder="Monto que transfiere"
                >
            </div>

            <input type="submit" value="Realizar tranferencia" class="btn btn-block">

        </form>

</div>



 <div *ngIf="movs" class="container">
    <h2>Movimientos de cuenta</h2>
    <h3>Depósitos</h3>
        <div class="item">
            <h3>Detalle: Servicios profesionales</h3>
            <h3>Cuenta: 11223344</h3>
            <h3>Monto: 500 </h3>
        </div>
        <div class="item">
            <h3>Detalle: Premio a mejores estudiantes de Marko Fibera</h3>
            <h3>Cuenta: 909042069</h3>
            <h3>Monto: 40000 </h3>
        </div>
        <div class="item">
            <h3>Detalle: Intereses</h3>
            <h3>Cuenta: 11223344</h3>
            <h3>Monto: 2</h3>
        </div>

    <h3>Retiros</h3>
        <div class="item">
            <h3>Detalle: Viveres</h3>
            <h3>Cuenta: 909042069</h3>
            <h3>Monto: 20000 </h3>
        </div>
        <div class="item">
            <h3>Detalle: GeForce RTX 3090 </h3>
            <h3>Cuenta: 11223344</h3>
            <h3>Monto: 998.99</h3>
        </div>
        <div class="item">
            <h3>Detalle: Almuerzo en Kome-house (hamburguesa saiyajin)</h3>
            <h3>Cuenta: 909042069</h3>
            <h3>Monto: 2300</h3>
        </div>

</div>
