<!-- Whubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
<head>
	<title>Simple Footer In Html - w3hubs.com</title>
<meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="W3HUBS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
   
   <div class="w3hubs-footer">

   	  <div class="w3hubs-nav">
   	  	<ul>

   	  		<li><a>Nosotros</a></li>
   	  		<li><a>Contáctenos</a></li>
            <li><a>Novedades</a></li>
   	  		

   	  	</ul>
   	  </div>
   	  <div class="w3hubs-nav1">
   	  	<ul>

            <li><a>Preguntas frecuentes</a></li>
   	  		<li><a>Seguros</a></li>
   	  		<li><a>Servicio al cliente</a></li>
   	  		<li><a>Contratación</a></li>
   	  		
   	  	</ul>
   	  </div>

   </div>

   <div class="footer-end">
    <p>Copyright &copy; 2021</p>
   </div>
</body>
</html>